In [2]:
import pandas as pd

I'm going to create some mock CSVs containing information we'd like to store in our tables

In [5]:
#clients.csv
clients = pd.DataFrame({'client_id': [1,2,3], 'name': ['Carlos Pineda', 'Kace Heiner', 'Stephan A. Smith']})
clients
clients.to_csv('clients.csv', index=False)

In [ ]:
#accounts.csv
accounts = pd.DataFrame({'account_id':[101,102,201,301], 'client_id':[1,1,2,3], 'account_type': ['Brokerage', 'Retirement', 'Brokerage', 'Brokerage']})
accounts.to_csv('accounts.csv', index=False)

In [ ]:
#transactions.csv
transactions = pd.DataFrame({
    'trx_id': [1,2,3,4,5],
    'account_id': [101,101,102,201,301],
    'ticker': ['AAPL', 'MSFT', 'NVDA', 'AAPL', 'MSFT'],
    'date': ['2023-01-05','2023-01-10','2023-02-02','2023-02-15','2023-03-01'],
    'quantity': [10,5,8,15,12],
    'price': [130,240,100,135,250]
})
transactions.to_csv('transactions.csv', index=False)

In [15]:
#securities.csv
securities = pd.DataFrame({
    'ticker':['AAPL', 'MSFT', 'GOOG'],
    'name': ['Apple Inc.', 'Microsoft Corp.', 'Alphabet Inc.'],
    'sector':['Technology', 'Technology', 'Communication Services'],
    'currency': ['USD', 'USD', 'USD']
})
securities.to_csv('securities.csv', index=False)

In [16]:
import pandas as pd
import yfinance as yf
from sqlalchemy import create_engine

In [17]:
#Database Setup
engine = create_engine("sqlite:///data/stock_data.db")

In [20]:
#Extract data from creates csvs
clients = pd.read_csv("data/raw/clients.csv")
accounts = pd.read_csv("data/raw/accounts.csv")
transactions = pd.read_csv("data/raw/transactions.csv")
securities = pd.read_csv("data/raw/securities.csv")

In [21]:
securities.head()

  ticker             name                  sector currency
0   AAPL       Apple Inc.              Technology      USD
1   MSFT  Microsoft Corp.              Technology      USD
2   GOOG    Alphabet Inc.  Communication Services      USD

In [32]:
#Extracting data from yfinance (prices + metadata)
tickers = securities['ticker'].unique().tolist()
all_prices = pd.DataFrame()
all_meta = []

In [33]:
for symbol in tickers:
    ticker = yf.Ticker(symbol)
    #price history
    hist = ticker.history(start="2023-01-01", end="2023-03-31")
    hist = hist.reset_index()
    hist['ticker'] = symbol
    all_prices = pd.concat([all_prices, hist])

    #meta data
    info = ticker.info
    all_meta.append({
        "ticker": symbol,
        "name": info.get('longName'),
        "sector":info.get('sector'),
        "currency":info.get('currency')
    })

yf_securities = pd.DataFrame(all_meta)

#clean the csvs

clients['client_id'] = clients['client_id'].astype(int)
accounts['account_id'] = accounts['account_id'].astype(int)
transactions['date'] = pd.to_datetime(transactions['date'])
transactions['ticker'] = transactions['ticker'].str.upper()

In [36]:
#clean yfinances all_prices
all_prices = all_prices.drop(columns=["Dividends", "Stock Splits"], errors="ignore")
all_prices = all_prices.rename(columns={
    "Date": "date",
    "Open": "open",
    "High": "high",
    "Low": "low",
    "Close": "close",
    "Volume": "volume"
})

In [38]:
#merging transactions with price
latest_prices = all_prices.sort_values('date').groupby('ticker').tail(1)
trx_with_price = transactions.merge(latest_prices[['ticker', 'close']], on='ticker', how='left')

In [39]:
#build holdings, per account & ticker
holdings = (
    trx_with_price.groupby(['account_id', 'ticker'])
    .agg({
        'quantity':'sum',
        'price': 'mean', #average purhcase price
        'close': 'last' # latest market price
    })
    .reset_index()
)
holdings["market_value"] = holdings["quantity"] * holdings["close"]
holdings = holdings.rename(columns={"price": "avg_cost", "close": "latest_price"})

In [42]:
clients.to_sql('clients', engine, index=False, if_exists='replace')
accounts.to_sql('accounts', engine, index=False, if_exists='replace')
transactions.to_sql('transactions', engine, index=False, if_exists='replace')
securities.to_sql('securities', engine, index=False, if_exists='replace')
all_prices.to_sql('all_prices', engine, index=False, if_exists='replace')
holdings.to_sql('holdings', engine, index=False, if_exists='replace')

5

In [43]:
import sqlite3

In [44]:
conn = sqlite3.connect('data/stock_data.db')
tables = pd.read_sql("select name from sqlite_master where type='table';", conn)
print(tables)

           name
0       clients
1      accounts
2  transactions
3    securities
4    all_prices
5      holdings

In [48]:
df = pd.read_sql('select c.name, b.account_type, a.* from holdings a join accounts b on a.account_id = b.account_id join clients c on c.client_id=b.client_id', conn)
print(df)

               name account_type  account_id ticker  quantity  avg_cost  \
0     Carlos Pineda    Brokerage         101   AAPL        10     130.0
1     Carlos Pineda    Brokerage         101   MSFT         5     240.0
2     Carlos Pineda   Retirement         102   NVDA         8     100.0
3       Kace Heiner    Brokerage         201   AAPL        15     135.0
4  Stephan A. Smith    Brokerage         301   MSFT        12     250.0

   latest_price  market_value
0    160.346497   1603.464966
1    279.090637   1395.453186
2           NaN           NaN
3    160.346497   2405.197449
4    279.090637   3349.087646

In [46]:
df = pd.read_sql('select * from accounts', conn)
print(df)

   account_id  client_id account_type
0         101          1    Brokerage
1         102          1   Retirement
2         201          2    Brokerage
3         301          3    Brokerage

In [47]:
df = pd.read_sql('select * from clients', conn)
print(df)

   client_id              name
0          1     Carlos Pineda
1          2       Kace Heiner
2          3  Stephan A. Smith